#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  user-select: none;
}

.sofa {
  color: skyblue;
  border: skyblue 1px solid;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 18px;
  transform: scale(0.2);
  width: fit-content;
}
